venv/
.pytest_cache/
.vagrant/
.DS_Store
.env.production
.flaskenv
*.pyc
*.pyo
env/
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
tags
tags.lock
tags.temp

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
.mypy_cache/*
*,cover
.vscode
deploy
