[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=3.7"
pytest-cov = "~=2.5"
pytest-factoryboy = "~=2.0"
pytest-flask = "*"
pytest-mock = "~=1.0"
remote-pdb = "~=1.2.0"
jedi = "*"
black = "==19.3b0"
vcrpy = "*"
pytest-vcr = "*"
ipython = "~=6.5"
factory_boy = "~=2.11"

[packages]
alembic = "==1.0.0"
appdirs = "==1.4.3"
arrow = "==0.12.1"
atomicwrites = "==1.1.5"
attrs = "==18.1.0"
backcall = "==0.1.0"
bcrypt = "==3.1.4"
certifi = "==2018.8.13"
cffi = "==1.11.5"
chardet = "==3.0.4"
click = "==6.7"
decorator = "==4.3.0"
docker = "==3.5.0"
docker-pycreds = "==0.3.0"
idna = "==2.5"
inflection = "==0.3.1"
itsdangerous = "==0.24"
jsonschema = "~=3.0"
marshmallow = "*"
marshmallow-jsonapi = "==0.20.2"
more-itertools = "==4.3.0"
pexpect = "==4.6.0"
pickleshare = "==0.7.4"
pluggy = "*"
psycopg2 = "==2.7.5"
ptyprocess = "==0.6.0"
py = "==1.5.4"
pycparser = "==2.18"
pytest-dotenv = "==0.2.0"
python-consul = "==1.1.0"
python-dateutil = "==2.7.3"
python-dotenv = "==0.9.1"
python-editor = "==1.0.3"
python-nomad = "==1.0.0"
redis = "==3.1.0"
requests = "*"
simplegeneric = "==0.8.1"
six = "~=1.11"
text-unidecode = "==1.2"
toml = "==0.9.4"
traitlets = "==4.3.2"
urllib3 = "*"
wcwidth = "==0.1.7"
websocket-client = "==0.51.0"
Faker = "==0.9.0"
Flask = "==1.0.2"
Flask-Bcrypt = "==0.7.1"
Flask-JWT-Extended = "~=3.18"
Flask-Migrate = "==2.2.1"
Flask-REST-JSONAPI = "==0.22.0"
Flask-SQLAlchemy = "==2.3.2"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.10.1"
Mako = "==1.0.7"
MarkupSafe = "==1.0"
prompt_toolkit = "==1.0.15"
Pygments = "==2.2.0"
PyJWT = "==1.6.4"
SQLAlchemy = ">=1.3.0"
Werkzeug = "==0.14.1"
momblish = "*"
gunicorn = "*"
dpath = "*"
ddtrace = "==0.23.0"
querystring-parser = "*"
rollbar = "*"
blinker = "*"
rq-dashboard = "*"
flask-rq2 = "*"
flask-cli = "*"
pytest-sugar = "*"
flask-cors = "*"
pytest-cov = "*"
fakeredis = "*"
dnspython = "*"
flask-limiter = "*"
pytest-random-order = "*"
stripe = "*"
flask-redis = "*"

[requires]
python_version = "3.7"
