interactions:
- request:
    body: email=user%40holepunch.io&description=HP+TEST+2019-07-11+22%3A55%3A45.644501+None
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f81340ed-7e45-4a90-9971-716a6eace352
      authorization:
      - NOKEYFORYOU
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: "{\n  \"id\": \"cus_FQ1D0qsysFiM95\",\n  \"object\": \"customer\",\n
        \ \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"created\":
        1562885745,\n  \"currency\": null,\n  \"default_source\": null,\n  \"delinquent\":
        false,\n  \"description\": \"HP TEST 2019-07-11 22:55:45.644501 None\",\n
        \ \"discount\": null,\n  \"email\": \"user@holepunch.io\",\n  \"invoice_prefix\":
        \"F6BC4C96\",\n  \"invoice_settings\": {\n    \"custom_fields\": null,\n    \"default_payment_method\":
        null,\n    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\":
        {\n  },\n  \"name\": null,\n  \"phone\": null,\n  \"preferred_locales\": [\n\n
        \ ],\n  \"shipping\": null,\n  \"sources\": {\n    \"object\": \"list\",\n
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":
        0,\n    \"url\": \"/v1/customers/cus_FQ1D0qsysFiM95/sources\"\n  },\n  \"subscriptions\":
        {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n    \"has_more\":
        false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_FQ1D0qsysFiM95/subscriptions\"\n
        \ },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"list\",\n
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":
        0,\n    \"url\": \"/v1/customers/cus_FQ1D0qsysFiM95/tax_ids\"\n  },\n  \"tax_info\":
        null,\n  \"tax_info_verification\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - f81340ed-7e45-4a90-9971-716a6eace352
      original-request:
      - req_va1iTiMLNly65z
      stripe-version:
      - '2019-03-14'
    status:
      code: 200
      message: OK
- request:
    body: customer=cus_FQ1D0qsysFiM95
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e4d617d8-f15e-484f-ac83-528b1ce306aa
      authorization:
      - NOKEYFORYOU
    method: POST
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
  response:
    body:
      string: "{\n  \"id\": \"pm_1EvBAzFWLfbqapoHP4Q7IrMO\",\n  \"object\": \"payment_method\",\n
        \ \"billing_details\": {\n    \"address\": {\n      \"city\": null,\n      \"country\":
        null,\n      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\":
        null,\n      \"state\": null\n    },\n    \"email\": null,\n    \"name\":
        null,\n    \"phone\": null\n  },\n  \"card\": {\n    \"brand\": \"visa\",\n
        \   \"checks\": {\n      \"address_line1_check\": null,\n      \"address_postal_code_check\":
        null,\n      \"cvc_check\": null\n    },\n    \"country\": \"US\",\n    \"exp_month\":
        7,\n    \"exp_year\": 2020,\n    \"fingerprint\": \"5WF0F0bdzuufzLej\",\n
        \   \"funding\": \"credit\",\n    \"generated_from\": null,\n    \"last4\":
        \"4242\",\n    \"three_d_secure_usage\": {\n      \"supported\": true\n    },\n
        \   \"wallet\": null\n  },\n  \"created\": 1562885746,\n  \"customer\": \"cus_FQ1D0qsysFiM95\",\n
        \ \"livemode\": false,\n  \"metadata\": {\n  },\n  \"type\": \"card\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - e4d617d8-f15e-484f-ac83-528b1ce306aa
      original-request:
      - req_NJ4UrEdzuwrHR2
      stripe-version:
      - '2019-03-14'
    status:
      code: 200
      message: OK
version: 1
