interactions:
- request:
    body: email=sevans%40wilson-russell.com&description=HP+Test+User+1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8386504f-c8c2-4815-aa68-d93de090e2e7
      authorization:
      - NOKEYFORYOU
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: "{\n  \"id\": \"cus_FQ1fWs6R9810kK\",\n  \"object\": \"customer\",\n
        \ \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"created\":
        1562887404,\n  \"currency\": null,\n  \"default_source\": null,\n  \"delinquent\":
        false,\n  \"description\": \"HP Test User 1\",\n  \"discount\": null,\n  \"email\":
        \"sevans@wilson-russell.com\",\n  \"invoice_prefix\": \"004B1A7A\",\n  \"invoice_settings\":
        {\n    \"custom_fields\": null,\n    \"default_payment_method\": null,\n    \"footer\":
        null\n  },\n  \"livemode\": false,\n  \"metadata\": {\n  },\n  \"name\": null,\n
        \ \"phone\": null,\n  \"preferred_locales\": [\n\n  ],\n  \"shipping\": null,\n
        \ \"sources\": {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n    \"has_more\":
        false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_FQ1fWs6R9810kK/sources\"\n
        \ },\n  \"subscriptions\": {\n    \"object\": \"list\",\n    \"data\": [\n\n
        \   ],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_FQ1fWs6R9810kK/subscriptions\"\n
        \ },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"list\",\n
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":
        0,\n    \"url\": \"/v1/customers/cus_FQ1fWs6R9810kK/tax_ids\"\n  },\n  \"tax_info\":
        null,\n  \"tax_info_verification\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 8386504f-c8c2-4815-aa68-d93de090e2e7
      original-request:
      - req_ZgISyodEgE9f8x
      stripe-version:
      - '2019-03-14'
    status:
      code: 200
      message: OK
- request:
    body: customer=cus_FQ1fWs6R9810kK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 40e9d968-bc96-472a-8ea1-264c0b6cf0f5
      authorization:
      - NOKEYFORYOU
    method: POST
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
  response:
    body:
      string: "{\n  \"id\": \"pm_1EvBbkFWLfbqapoH885mdUzb\",\n  \"object\": \"payment_method\",\n
        \ \"billing_details\": {\n    \"address\": {\n      \"city\": null,\n      \"country\":
        null,\n      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\":
        null,\n      \"state\": null\n    },\n    \"email\": null,\n    \"name\":
        null,\n    \"phone\": null\n  },\n  \"card\": {\n    \"brand\": \"visa\",\n
        \   \"checks\": {\n      \"address_line1_check\": null,\n      \"address_postal_code_check\":
        null,\n      \"cvc_check\": null\n    },\n    \"country\": \"US\",\n    \"exp_month\":
        7,\n    \"exp_year\": 2020,\n    \"fingerprint\": \"5WF0F0bdzuufzLej\",\n
        \   \"funding\": \"credit\",\n    \"generated_from\": null,\n    \"last4\":
        \"4242\",\n    \"three_d_secure_usage\": {\n      \"supported\": true\n    },\n
        \   \"wallet\": null\n  },\n  \"created\": 1562887404,\n  \"customer\": \"cus_FQ1fWs6R9810kK\",\n
        \ \"livemode\": false,\n  \"metadata\": {\n  },\n  \"type\": \"card\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 40e9d968-bc96-472a-8ea1-264c0b6cf0f5
      original-request:
      - req_SEdi6fQhqf8bL3
      stripe-version:
      - '2019-03-14'
    status:
      code: 200
      message: OK
version: 1
