interactions:
- request:
    body: email=brianakelly%40wade.com&description=Holepunch+User+Id%3A+None
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 80d17743-ad28-4709-a9d3-3f13b5de65c8
      authorization:
      - NOKEYFORYOU
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: "{\n  \"id\": \"cus_FPz8Z3uTNswpjq\",\n  \"object\": \"customer\",\n
        \ \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"created\":
        1562878031,\n  \"currency\": null,\n  \"default_source\": null,\n  \"delinquent\":
        false,\n  \"description\": \"Holepunch User Id: None\",\n  \"discount\": null,\n
        \ \"email\": \"brianakelly@wade.com\",\n  \"invoice_prefix\": \"51F36510\",\n
        \ \"invoice_settings\": {\n    \"custom_fields\": null,\n    \"default_payment_method\":
        null,\n    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\":
        {\n  },\n  \"name\": null,\n  \"phone\": null,\n  \"preferred_locales\": [\n\n
        \ ],\n  \"shipping\": null,\n  \"sources\": {\n    \"object\": \"list\",\n
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":
        0,\n    \"url\": \"/v1/customers/cus_FPz8Z3uTNswpjq/sources\"\n  },\n  \"subscriptions\":
        {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n    \"has_more\":
        false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_FPz8Z3uTNswpjq/subscriptions\"\n
        \ },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"list\",\n
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":
        0,\n    \"url\": \"/v1/customers/cus_FPz8Z3uTNswpjq/tax_ids\"\n  },\n  \"tax_info\":
        null,\n  \"tax_info_verification\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 80d17743-ad28-4709-a9d3-3f13b5de65c8
      original-request:
      - req_DKIyS9q9jKSaEp
      stripe-version:
      - '2019-03-14'
    status:
      code: 200
      message: OK
version: 1
