interactions:
- request:
    body: email=user%40holepunch.io&description=HP+TEST+2019-07-11+21%3A45%3A51.177348+None
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5a586086-627c-47c9-9778-be693cba905c
      authorization:
      - NOKEYFORYOU
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: "{\n  \"id\": \"cus_FQ05hN6ylAuEda\",\n  \"object\": \"customer\",\n
        \ \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"created\":
        1562881551,\n  \"currency\": null,\n  \"default_source\": null,\n  \"delinquent\":
        false,\n  \"description\": \"HP TEST 2019-07-11 21:45:51.177348 None\",\n
        \ \"discount\": null,\n  \"email\": \"user@holepunch.io\",\n  \"invoice_prefix\":
        \"FC4F99B8\",\n  \"invoice_settings\": {\n    \"custom_fields\": null,\n    \"default_payment_method\":
        null,\n    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\":
        {\n  },\n  \"name\": null,\n  \"phone\": null,\n  \"preferred_locales\": [\n\n
        \ ],\n  \"shipping\": null,\n  \"sources\": {\n    \"object\": \"list\",\n
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":
        0,\n    \"url\": \"/v1/customers/cus_FQ05hN6ylAuEda/sources\"\n  },\n  \"subscriptions\":
        {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n    \"has_more\":
        false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_FQ05hN6ylAuEda/subscriptions\"\n
        \ },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"list\",\n
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":
        0,\n    \"url\": \"/v1/customers/cus_FQ05hN6ylAuEda/tax_ids\"\n  },\n  \"tax_info\":
        null,\n  \"tax_info_verification\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 5a586086-627c-47c9-9778-be693cba905c
      original-request:
      - req_0z1uyPjlUX6OL1
      stripe-version:
      - '2019-03-14'
    status:
      code: 200
      message: OK
- request:
    body: customer=cus_FQ05hN6ylAuEda
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bb28e966-848d-4922-a9f7-9d77eae42a9c
      authorization:
      - NOKEYFORYOU
    method: POST
    uri: https://api.stripe.com/v1/payment_methods/pm_card_threeDSecure2Required/attach
  response:
    body:
      string: "{\n  \"id\": \"pm_1EvA5LFWLfbqapoHBXzIceuf\",\n  \"object\": \"payment_method\",\n
        \ \"billing_details\": {\n    \"address\": {\n      \"city\": null,\n      \"country\":
        null,\n      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\":
        null,\n      \"state\": null\n    },\n    \"email\": null,\n    \"name\":
        null,\n    \"phone\": null\n  },\n  \"card\": {\n    \"brand\": \"visa\",\n
        \   \"checks\": {\n      \"address_line1_check\": null,\n      \"address_postal_code_check\":
        null,\n      \"cvc_check\": null\n    },\n    \"country\": \"IE\",\n    \"exp_month\":
        7,\n    \"exp_year\": 2020,\n    \"fingerprint\": \"SYKi0niCGBrPVd6A\",\n
        \   \"funding\": \"credit\",\n    \"generated_from\": null,\n    \"last4\":
        \"3220\",\n    \"three_d_secure_usage\": {\n      \"supported\": true\n    },\n
        \   \"wallet\": null\n  },\n  \"created\": 1562881551,\n  \"customer\": \"cus_FQ05hN6ylAuEda\",\n
        \ \"livemode\": false,\n  \"metadata\": {\n  },\n  \"type\": \"card\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - bb28e966-848d-4922-a9f7-9d77eae42a9c
      original-request:
      - req_W21TmcFhFnVnTE
      stripe-version:
      - '2019-03-14'
    status:
      code: 200
      message: OK
- request:
    body: customer=cus_FQ05hN6ylAuEda&default_payment_method=pm_1EvA5LFWLfbqapoHBXzIceuf&items[0][plan]=plan_FHjqReterVJV8l&expand[0]=latest_invoice.payment_intent
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 87826687-356a-4500-b0bf-a4dc065d8299
      authorization:
      - NOKEYFORYOU
    method: POST
    uri: https://api.stripe.com/v1/subscriptions
  response:
    body:
      string: "{\n  \"id\": \"sub_FQ05nV5mBpT8ZF\",\n  \"object\": \"subscription\",\n
        \ \"application_fee_percent\": null,\n  \"billing\": \"charge_automatically\",\n
        \ \"billing_cycle_anchor\": 1562881552,\n  \"billing_thresholds\": null,\n
        \ \"cancel_at\": null,\n  \"cancel_at_period_end\": false,\n  \"canceled_at\":
        null,\n  \"collection_method\": \"charge_automatically\",\n  \"created\":
        1562881552,\n  \"current_period_end\": 1565559952,\n  \"current_period_start\":
        1562881552,\n  \"customer\": \"cus_FQ05hN6ylAuEda\",\n  \"days_until_due\":
        null,\n  \"default_payment_method\": \"pm_1EvA5LFWLfbqapoHBXzIceuf\",\n  \"default_source\":
        null,\n  \"default_tax_rates\": [\n\n  ],\n  \"discount\": null,\n  \"ended_at\":
        null,\n  \"items\": {\n    \"object\": \"list\",\n    \"data\": [\n      {\n
        \       \"id\": \"si_FQ05bypLx0eIdY\",\n        \"object\": \"subscription_item\",\n
        \       \"billing_thresholds\": null,\n        \"created\": 1562881552,\n
        \       \"metadata\": {\n        },\n        \"plan\": {\n          \"id\":
        \"plan_FHjqReterVJV8l\",\n          \"object\": \"plan\",\n          \"active\":
        true,\n          \"aggregate_usage\": null,\n          \"amount\": 999,\n
        \         \"billing_scheme\": \"per_unit\",\n          \"created\": 1560976015,\n
        \         \"currency\": \"usd\",\n          \"interval\": \"month\",\n          \"interval_count\":
        1,\n          \"livemode\": false,\n          \"metadata\": {\n          },\n
        \         \"nickname\": \"Holepunch Service: paid\",\n          \"product\":
        \"holepunch\",\n          \"tiers\": null,\n          \"tiers_mode\": null,\n
        \         \"transform_usage\": null,\n          \"trial_period_days\": null,\n
        \         \"usage_type\": \"licensed\"\n        },\n        \"quantity\":
        1,\n        \"subscription\": \"sub_FQ05nV5mBpT8ZF\",\n        \"tax_rates\":
        [\n\n        ]\n      }\n    ],\n    \"has_more\": false,\n    \"total_count\":
        1,\n    \"url\": \"/v1/subscription_items?subscription=sub_FQ05nV5mBpT8ZF\"\n
        \ },\n  \"latest_invoice\": {\n    \"id\": \"in_1EvA5MFWLfbqapoHocGtY35I\",\n
        \   \"object\": \"invoice\",\n    \"account_country\": \"US\",\n    \"account_name\":
        \"ORB.HOUSE, LLC\",\n    \"amount_due\": 999,\n    \"amount_paid\": 0,\n    \"amount_remaining\":
        999,\n    \"application_fee_amount\": null,\n    \"attempt_count\": 0,\n    \"attempted\":
        true,\n    \"auto_advance\": true,\n    \"billing\": \"charge_automatically\",\n
        \   \"billing_reason\": \"subscription_create\",\n    \"charge\": null,\n
        \   \"collection_method\": \"charge_automatically\",\n    \"created\": 1562881552,\n
        \   \"currency\": \"usd\",\n    \"custom_fields\": null,\n    \"customer\":
        \"cus_FQ05hN6ylAuEda\",\n    \"customer_address\": null,\n    \"customer_email\":
        \"user@holepunch.io\",\n    \"customer_name\": null,\n    \"customer_phone\":
        null,\n    \"customer_shipping\": null,\n    \"customer_tax_exempt\": \"none\",\n
        \   \"customer_tax_ids\": [\n\n    ],\n    \"default_payment_method\": null,\n
        \   \"default_source\": null,\n    \"default_tax_rates\": [\n\n    ],\n    \"description\":
        null,\n    \"discount\": null,\n    \"due_date\": null,\n    \"ending_balance\":
        0,\n    \"footer\": null,\n    \"hosted_invoice_url\": \"https://pay.stripe.com/invoice/invst_eqQCtGdDomlw3UnKGYHWNqnjoH\",\n
        \   \"invoice_pdf\": \"https://pay.stripe.com/invoice/invst_eqQCtGdDomlw3UnKGYHWNqnjoH/pdf\",\n
        \   \"lines\": {\n      \"object\": \"list\",\n      \"data\": [\n        {\n
        \         \"id\": \"sli_1e8a213c526353\",\n          \"object\": \"line_item\",\n
        \         \"amount\": 999,\n          \"currency\": \"usd\",\n          \"description\":
        \"1 \xD7 Holepunch.io (at $9.99 / month)\",\n          \"discountable\": true,\n
        \         \"livemode\": false,\n          \"metadata\": {\n          },\n
        \         \"period\": {\n            \"end\": 1565559952,\n            \"start\":
        1562881552\n          },\n          \"plan\": {\n            \"id\": \"plan_FHjqReterVJV8l\",\n
        \           \"object\": \"plan\",\n            \"active\": true,\n            \"aggregate_usage\":
        null,\n            \"amount\": 999,\n            \"billing_scheme\": \"per_unit\",\n
        \           \"created\": 1560976015,\n            \"currency\": \"usd\",\n
        \           \"interval\": \"month\",\n            \"interval_count\": 1,\n
        \           \"livemode\": false,\n            \"metadata\": {\n            },\n
        \           \"nickname\": \"Holepunch Service: paid\",\n            \"product\":
        \"holepunch\",\n            \"tiers\": null,\n            \"tiers_mode\":
        null,\n            \"transform_usage\": null,\n            \"trial_period_days\":
        null,\n            \"usage_type\": \"licensed\"\n          },\n          \"proration\":
        false,\n          \"quantity\": 1,\n          \"subscription\": \"sub_FQ05nV5mBpT8ZF\",\n
        \         \"subscription_item\": \"si_FQ05bypLx0eIdY\",\n          \"tax_amounts\":
        [\n\n          ],\n          \"tax_rates\": [\n\n          ],\n          \"type\":
        \"subscription\"\n        }\n      ],\n      \"has_more\": false,\n      \"total_count\":
        1,\n      \"url\": \"/v1/invoices/in_1EvA5MFWLfbqapoHocGtY35I/lines\"\n    },\n
        \   \"livemode\": false,\n    \"metadata\": {\n    },\n    \"next_payment_attempt\":
        null,\n    \"number\": \"FC4F99B8-0001\",\n    \"paid\": false,\n    \"payment_intent\":
        {\n      \"id\": \"pi_1EvA5MFWLfbqapoHBuVmrdrm\",\n      \"object\": \"payment_intent\",\n
        \     \"amount\": 999,\n      \"amount_capturable\": 0,\n      \"amount_received\":
        0,\n      \"application\": null,\n      \"application_fee_amount\": null,\n
        \     \"canceled_at\": null,\n      \"cancellation_reason\": null,\n      \"capture_method\":
        \"automatic\",\n      \"charges\": {\n        \"object\": \"list\",\n        \"data\":
        [\n\n        ],\n        \"has_more\": false,\n        \"total_count\": 0,\n
        \       \"url\": \"/v1/charges?payment_intent=pi_1EvA5MFWLfbqapoHBuVmrdrm\"\n
        \     },\n      \"client_secret\": \"pi_1EvA5MFWLfbqapoHBuVmrdrm_secret_PWtSUwHeUD4zQpkFmDamuvA4n\",\n
        \     \"confirmation_method\": \"automatic\",\n      \"created\": 1562881552,\n
        \     \"currency\": \"usd\",\n      \"customer\": \"cus_FQ05hN6ylAuEda\",\n
        \     \"description\": \"Payment for invoice FC4F99B8-0001\",\n      \"invoice\":
        \"in_1EvA5MFWLfbqapoHocGtY35I\",\n      \"last_payment_error\": null,\n      \"livemode\":
        false,\n      \"metadata\": {\n      },\n      \"next_action\": {\n        \"type\":
        \"use_stripe_sdk\",\n        \"use_stripe_sdk\": {\n          \"type\": \"three_d_secure_redirect\",\n
        \         \"stripe_js\": \"https://hooks.stripe.com/3d_secure_2_eap/begin_test/src_1EvA5MFWLfbqapoHQTC2QfZ2/src_client_secret_FQ05kZcsf2ItcEJh9B1vc232\"\n
        \       }\n      },\n      \"on_behalf_of\": null,\n      \"payment_method\":
        \"pm_1EvA5LFWLfbqapoHBXzIceuf\",\n      \"payment_method_types\": [\n        \"card\"\n
        \     ],\n      \"receipt_email\": null,\n      \"review\": null,\n      \"setup_future_usage\":
        null,\n      \"shipping\": null,\n      \"source\": null,\n      \"statement_descriptor\":
        null,\n      \"status\": \"requires_action\",\n      \"transfer_data\": null,\n
        \     \"transfer_group\": null\n    },\n    \"period_end\": 1562881552,\n
        \   \"period_start\": 1562881552,\n    \"post_payment_credit_notes_amount\":
        0,\n    \"pre_payment_credit_notes_amount\": 0,\n    \"receipt_number\": null,\n
        \   \"starting_balance\": 0,\n    \"statement_descriptor\": null,\n    \"status\":
        \"open\",\n    \"status_transitions\": {\n      \"finalized_at\": 1562881552,\n
        \     \"marked_uncollectible_at\": null,\n      \"paid_at\": null,\n      \"voided_at\":
        null\n    },\n    \"subscription\": \"sub_FQ05nV5mBpT8ZF\",\n    \"subtotal\":
        999,\n    \"tax\": null,\n    \"tax_percent\": null,\n    \"total\": 999,\n
        \   \"total_tax_amounts\": [\n\n    ],\n    \"webhooks_delivered_at\": null\n
        \ },\n  \"livemode\": false,\n  \"metadata\": {\n  },\n  \"plan\": {\n    \"id\":
        \"plan_FHjqReterVJV8l\",\n    \"object\": \"plan\",\n    \"active\": true,\n
        \   \"aggregate_usage\": null,\n    \"amount\": 999,\n    \"billing_scheme\":
        \"per_unit\",\n    \"created\": 1560976015,\n    \"currency\": \"usd\",\n
        \   \"interval\": \"month\",\n    \"interval_count\": 1,\n    \"livemode\":
        false,\n    \"metadata\": {\n    },\n    \"nickname\": \"Holepunch Service:
        paid\",\n    \"product\": \"holepunch\",\n    \"tiers\": null,\n    \"tiers_mode\":
        null,\n    \"transform_usage\": null,\n    \"trial_period_days\": null,\n
        \   \"usage_type\": \"licensed\"\n  },\n  \"quantity\": 1,\n  \"schedule\":
        null,\n  \"start\": 1562881552,\n  \"start_date\": 1562881552,\n  \"status\":
        \"incomplete\",\n  \"tax_percent\": null,\n  \"trial_end\": null,\n  \"trial_start\":
        null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 87826687-356a-4500-b0bf-a4dc065d8299
      original-request:
      - req_uRiMDkQWXrnJXh
      stripe-version:
      - '2019-03-14'
    status:
      code: 200
      message: OK
version: 1
